/* -------  variables -----*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
/* ---------------------- Global styles -------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: #f2f1f8;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #3f3d4e; }

li {
  list-style: none; }

.ccontainer {
  display: grid;
  grid-template-rows: 80vh repeat(6, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end grid-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [grid-end]; }

body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.7;
  color: #3f3d4e;
  backface-visibility: hidden; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(51, 34, 61, 0.8)), url("../../images/Hero.jpg");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0; }
  .header__box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__nav .nav-item {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration: none;
    margin-right: 3rem; }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 3rem;
    text-decoration: none; }
    .header__logo .logo-name::first-letter {
      font-size: 4rem;
      font-weight: bold; }
  .header__content {
    position: relative;
    padding: 8rem 0 12rem 0; }
    .header__content .heading-primary, .header__content .subtitle {
      color: #ffffff;
      text-align: center; }
    .header__content .heading-primary {
      font-weight: 500;
      font-size: 5rem; }
    .header__content .subtitle {
      font-weight: 300;
      font-size: 2.4rem;
      width: 500px;
      margin: 0 auto 2rem auto;
      line-height: 1.2; }

.skills {
  padding: 3rem 0 12rem 0;
  position: relative; }
  @supports (display: grid) {
    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 3fr));
      gap: 3rem; } }
  .skills .skill {
    background: #f2f1f8;
    float: left;
    width: 31%;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    margin: -8rem 1% 0 1%;
    padding: 3rem 2.5% 4rem 2.5%;
    text-align: center;
    position: relative;
    border-radius: .5rem;
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.8);
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
    z-index: 10; }
    @supports (display: grid) {
      .skills .skill {
        width: auto; } }
    .skills .skill h3 {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 2.5rem;
      color: #3f3d4e; }
    .skills .skill .dev-icons {
      display: flex;
      justify-content: center; }
      .skills .skill .dev-icons .fab, .skills .skill .dev-icons .fas {
        margin: 0 10px 10px 10px;
        font-size: 2.5rem; }
    .skills .skill p {
      padding: 0 0 2rem 0;
      color: #3f3d4e; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

/* ---------------------- Projects section  -------------*/
#projects {
  background-color: #f2f1f8;
  color: #3f3d4e;
  text-align: center; }
  #projects::after {
    content: "";
    display: table;
    clear: both; }
  #projects h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem; }
    #projects h2::after {
      content: " ";
      background: #7ac483;
      width: 50%;
      height: 0.3rem;
      top: 90%;
      bottom: 0;
      left: 25%;
      position: absolute; }
  #projects .sub-title {
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem; }
  #projects .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin: 100px 0;
    border-bottom: 1px solid #b9b7c6; }
    #projects .project .project-image {
      width: 100%;
      height: 100%; }
    #projects .project .project-text {
      border-radius: .35rem;
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      color: #3f3d4e;
      width: 500px;
      height: 300px;
      padding: 1.35rem;
      margin: 1.5rem 0; }
      #projects .project .project-text .project-title {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
        display: inline-block; }
      #projects .project .project-text .project-description {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.3;
        text-align: center; }
      #projects .project .project-text .btn_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 3rem; }
        #projects .project .project-text .btn_wrapper a {
          padding: 1rem 3rem;
          border-radius: none; }

/* ------------------- Other project with filter taps  -----------*/
#filter-section {
  background: #f2f1f8;
  color: #3f3d4e;
  text-align: center; }
  #filter-section::after {
    content: "";
    display: table;
    clear: both; }
  #filter-section .title {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-top: 2rem; }
    #filter-section .title::after {
      content: " ";
      margin: .5rem;
      background: #7ac483;
      width: 50%;
      height: 0.3rem;
      top: 90%;
      bottom: 0;
      left: 25%;
      position: absolute; }
  #filter-section .filter-tabs ul li {
    list-style-type: none;
    display: inline-block;
    margin: 25px 20px;
    align-items: center; }
    #filter-section .filter-tabs ul li a {
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer; }
      #filter-section .filter-tabs ul li a:hover {
        color: #7ac483; }
      #filter-section .filter-tabs ul li a.active {
        color: #7ac483; }
  #filter-section .isotape .container {
    width: 31%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    #filter-section .isotape .container .card {
      border-radius: .35rem;
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
      margin: 3rem 1rem;
      padding: 1rem .3rem;
      animation: fadein 3s; }
      #filter-section .isotape .container .card img {
        width: 340px;
        height: 100%; }
      #filter-section .isotape .container .card .project-title {
        text-align: left;
        padding: 10px 0;
        margin-left: 2.5rem; }
      #filter-section .isotape .container .card p {
        text-align: left;
        margin-left: 2.5rem;
        padding: 10px 0;
        line-height: 1.5; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ---------------------- Contact section  -------------*/
#contact {
  align-items: center;
  background: #f2f1f8;
  padding: 4rem 0 8rem 0;
  text-align: center; }
  #contact .title {
    font-size: 2.5rem;
    color: #3f3d4e;
    font-weight: 600;
    margin: 0; }
  #contact .sub_title {
    color: #b9b7c6;
    font-size: 1.5rem;
    text-align: center;
    width: 600px;
    max-width: 100%;
    display: block;
    margin: 1rem auto 4rem auto; }

footer {
  background: #3f3d4e;
  padding: 4rem 0; }
  footer .copyright {
    font-weight: 700;
    color: #b9b7c6;
    text-align: center; }
  footer a {
    text-decoration: none;
    color: #7ac483; }
  footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    footer .social-icons .fab, footer .social-icons .fas {
      margin: 1.5rem .5rem 0 .5rem;
      padding: .4rem;
      color: #b9b7c6;
      font-size: 1.5rem;
      cursor: pointer; }
