@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/typography";

@import "layout/header";
@import "layout/footer";

@import "components/skills";

@include wrapper;


/* ---------------------- Projects section  -------------*/
#projects{
    @include clearfix;
    background-color:$color-grey;
    // padding: 3rem 0 0rem 0;
    color: $color-dark-grey;
    text-align: center;
    h2{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin-bottom: 1rem;
        &::after{
            content: " ";
            background: $color-primary;
            width: 50%;
            height: 0.3rem;
            top: 90%;
            bottom: 0;
            left: 25%;
            position: absolute;
        }
    }
    .sub-title{
        text-align: center;
        font-weight: 300;
        font-size: 1.3rem;   
    }
    .project{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin: 100px 0;
        border-bottom: 1px solid $color-light-grey;
        
        .project-image{
            width: 100%;
            height: 100%;    
        }
        .project-text{
            border-radius: .35rem;
            box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            color: $color-dark-grey;
            width: 500px;
            height: 300px; 
            padding: 1.35rem;
            margin: 1.5rem 0;
            .project-title{
                font-size: 1.5rem;
                font-weight: 600;
                text-align: left;
                display: inline-block;
                // margin-bottom: 1rem;

            }
            .project-description{
                font-weight: 300;
                font-size: 1.5rem;
                line-height: 1.3;
                // margin-top: 50px;
                // padding: 2rem;
                text-align: center;
            }
            .btn_wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around ;
                margin-top: 3rem;
                a{
                    padding: 1rem 3rem;
                    border-radius: none;
                    
                }
            }
            
        }
    }
}

/* ------------------- Other project with filter taps  -----------*/
#filter-section{
    @include clearfix;
    background: $color-grey;
    color: $color-dark-grey;
    text-align: center;
    .title{
        // text-align: center;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin-top: 2rem;
        &::after{
            content: " ";
            margin: .5rem;
            background: $color-primary;
            width: 50%;
            height: 0.3rem;
            top: 90%;
            bottom: 0;
            left: 25%;
            position: absolute;
        }
    }
    .filter-tabs{
        ul li{
            list-style-type: none;
            display: inline-block;
            margin: 25px 20px;
            align-items: center;
            a{
                display: inline-block;
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: $color-primary;
                }
                &.active{
                    color: $color-primary;
                }
            }
        }
    }
    .isotape{
        .container{
            width: 31%;
            // max-width: 1170px;
            // margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .card{
                border-radius: .35rem;
                box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                margin: 3rem 1rem;
                padding: 1rem .3rem;
                // transition: all 1s ease-out;
                animation: fadein 3s;
                img{
                    width: 340px;
                    height: 100%;
                }
                .project-title{
                    text-align: left;
                    padding: 10px 0;
                    margin-left: 2.5rem;
                }
                p{
                    text-align: left;
                    margin-left: 2.5rem;
                    padding: 10px 0;
                    line-height: 1.5;
                }
            }
        }
    }
    

}

@keyframes fadein{
    from {
        opacity: 0;
        // zoom: 0;
    }
    to{
        opacity: 1;
        // zoom: 1;
    }
}

/* ---------------------- Contact section  -------------*/

#contact{
    align-items: center;
    background: $color-grey;
    // margin-top: 50px;
    padding: 4rem 0 8rem 0;
    text-align: center;
    .title{
        font-size: 2.5rem;
        color: $color-dark-grey;
        font-weight: 600;
        margin: 0;
    }
    .sub_title{
        color: $color-light-grey;
        font-size: 1.5rem;
        text-align: center;
        width: 600px;
        max-width: 100%;
        display: block;
        margin: 1rem auto 4rem auto;
    }
}

footer{
    background: $color-dark-grey;
    padding: 4rem 0;
    .copyright{
        font-weight: 700;
        color: $color-light-grey;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: $color-primary;
    }
    .social-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .fab,.fas{
            margin: 1.5rem .5rem 0 .5rem;
            padding: .4rem;
            color: $color-light-grey;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

}