
/* ------------------- Other project with filter taps  -----------*/
#filter-section{
    @include clearfix;
    background: $color-grey;
    color: $color-dark-grey;
    text-align: center;
    .title{
        // text-align: center;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin-top: 2rem;
        &::after{
            content: " ";
            margin: .5rem;
            background: $color-primary;
            width: 50%;
            height: 0.3rem;
            top: 90%;
            bottom: 0;
            left: 25%;
            position: absolute;
        }
    }
    .filter-tabs{
        ul li{
            list-style-type: none;
            display: inline-block;
            margin: 25px 20px;
            align-items: center;
            a{
                display: inline-block;
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: $color-primary;
                }
                &.active{
                    color: $color-primary;
                }
            }
        }
    }
    .isotape{
        .container{
            width: 31%;
            // max-width: 1170px;
            // margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .card{
                border-radius: .35rem;
                box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
                margin: 3rem 1rem;
                padding: 1rem .3rem;
                // transition: all 1s ease-out;
                animation: fadein 3s;
                img{
                    width: 340px;
                    height: 100%;
                }
                .project-title{
                    text-align: left;
                    padding: 10px 0;
                    margin-left: 2.5rem;
                }
                p{
                    text-align: left;
                    margin-left: 2.5rem;
                    padding: 10px 0;
                    line-height: 1.5;
                }
            }
        }
    }
    

}
