
footer{
    background: $color-dark-grey;
    padding: 4rem 0;
    .copyright{
        font-weight: 700;
        color: $color-light-grey;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: $color-primary;
    }
    .social-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .fab,.fas{
            margin: 1.5rem .5rem 0 .5rem;
            padding: .4rem;
            color: $color-light-grey;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

}