
.header{
    background: linear-gradient(rgba($color-black, .8), rgba(51, 34, 61, 0.8)),
     url('../../images/Hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0;

    display: grid;
    grid-column: 1 / -1;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
    }
    
    &__nav{
        margin-right: -8%;
        @include responsive(tablet){
            display: none; //1200px
            margin-right: -4%;
        }
        .nav-item{
            color: $color-white;
            font-weight: 400;
            font-size: 1.8rem;
            text-decoration: none;
            &:not(:last-child){
                margin-right: 3rem;
            }
            
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        // justify-content: space-;
        color: $color-white;
        font-weight: 700;
        font-size: 2rem;
        margin-left: -8%;
        text-decoration: none;
        .logo-name::first-letter{
            font-size: 4rem;
            font-weight: bold;
        }  

        @include responsive(tablet){
            margin-left: 3%;
        }
        @include responsive(tablet-land){
            margin-left: -2%;
        }
        
        @include responsive(phone){
            display: none;
        }
    }
     
    &__content{
        position: relative;
        padding: 10rem 0 12rem 0;
        @include responsive(tablet-land){
            padding: 15rem 0 10rem 0; //1200px
        }
        @include responsive(phone){
            padding: 0 auto; //1200px
            margin: 5rem 0 auto 0;
        }
        .heading-primary, .subtitle{
            color: $color-white;
            text-align: center;
        }
        .heading-primary{
            justify-self: center;
            font-weight: 500;
            font-size: 5rem;
        }
        
        .subtitle{
            font-weight: 300;
            font-size: 2.4rem;
            width: 500px;
            margin: 0 auto 2rem auto;
            line-height: 1.2;
            @include responsive(tablet){
                font-size: 3.4rem; //1200px
            }
        }
        .btn{
            @include responsive(phone){
                display: none;
            }
        }
        
    }

}



