
/* ---------------------- Projects section  -------------*/
#projects{
    background-color:$color-grey;
    color:  $color-dark-grey;
    text-align: center;
    h2{
        color: inherit;
        text-align: center;
        font-size: 4.5rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        margin-bottom: 1.5rem;
        &::after{
            content: " ";
            background: $color-primary;
            width: 50%;
            height: 0.3rem;
            top: 90%;
            bottom: 0;
            left: 25%;
            position: absolute;
        }
    }
    .sub-title{
        color: inherit;
        text-align: center;
        font-size: 2rem;   
    }
    .project{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        column-gap: 3rem;
        margin: 4rem 0 6rem 0;
        padding: 3rem;
        border-bottom: 1px solid $color-light-grey;
        
        .project-image{
            width: 100%;
            height: 100%;    
        }
        .project-text{
            // color: inherit;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: .35rem;
            box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.1);
            color: $color-dark-grey;
            padding: 2rem;
            margin: 1.5rem 0;
            .project-title{
                font-size: 2rem;
                font-weight: 700;
                margin-left: 2rem;

            }
            .project-description{
                font-weight: 300;
                font-size: 2rem;
                line-height: 1.3;
                padding: 2rem;
                text-align: left;
            }
            .tools{
                text-align: left;
                margin: 1.5rem 1.5rem 0 1.5rem;
                font-weight: 300;
                font-size: 2rem;
            }
            .btn-box{
                a{
                    // padding: 1rem 3rem;
                    border-radius: none;
                }
            }
            
        }
    }
}
