@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin wrapper{
    .wrapper{
        width: 1440px;
        max-width: 90%;
        margin: 0 auto;
    }   
}

@mixin responsive($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em){ @content }; //below 600px to em
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width:56.25em){ @content }; //900px to em
    }
    @if $breakpoint == tablet-land {
        @media only screen and (max-width:75em){ @content }; //below 1200px 
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width:75em){ @content }; //above 1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width:112.5em){ @content }; //1800px to em
    }
}