
/* ---------------------- Contact section  -------------*/

#contact{
    align-items: center;
    background: $color-grey;
    // margin-top: 50px;
    padding: 4rem 0 8rem 0;
    text-align: center;
    .title{
        font-size: 2.5rem;
        color: $color-dark-grey;
        font-weight: 600;
        margin: 0;
    }
    .sub_title{
        color: $color-light-grey;
        font-size: 1.5rem;
        text-align: center;
        width: 600px;
        max-width: 100%;
        display: block;
        margin: 1rem auto 4rem auto;
    }
}
