@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');



/* ---------------------- Global styles -------------*/

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body{
    background: $color-grey;
    box-sizing: border-box;
  }

a{
    text-decoration: none;
    color: $color-dark-grey;
}
li{
    list-style: none;
}

.ccontainer{
  display: grid;
  grid-template-rows: 80vh  repeat(6, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end grid-start] minmax(6rem, 1fr)    
  [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 
  minmax(6rem, 1fr) [grid-end];    
}